<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="org.michaelliu.spring.beans.dto.Student" alias="Student" />
        <typeAlias type="org.michaelliu.spring.beans.vo.StudentVo" alias="StudentVo" />
        <typeAlias type="org.michaelliu.spring.beans.dto.Product" alias="Product" />
        <typeAlias type="org.michaelliu.spring.beans.vo.ProductVo" alias="ProductVo" />
        <typeAlias type="org.michaelliu.spring.beans.vo.ProductFieldUpdateParam"
                   alias="ProductFieldUpdateParam" />
        <typeAlias type="org.michaelliu.spring.beans.dto.Order" alias="Order" />
        <typeAlias type="org.michaelliu.spring.beans.vo.OrderVo" alias="OrderVo" />
        <typeAlias type="org.michaelliu.spring.beans.dto.OrderProduct" alias="OrderProduct" />
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="String" jdbcType="TIMESTAMP" handler="org.michaelliu.spring.orm.mybatis.handler.DateTypeHandler" />
        <typeHandler javaType="String" jdbcType="TINYINT" handler="org.michaelliu.spring.orm.mybatis.handler.ByteTypeHandler" />
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/ProductMapper.xml"/>
        <mapper resource="mapper/OrderProductMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
    </mappers>
</configuration>