<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="messageService" class="org.michaelliu.spring.rmi.provider.impl.MessageServiceImpl"/>
	<bean id="accountService" class="org.michaelliu.spring.rmi.provider.impl.AccountServiceImpl"/>

	<!-- configure rmi service -->
	<bean id="messageServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported -->
		<property name="serviceName" value="rmi/MessageService"/>
		<property name="service" ref="messageService"/>
		<property name="serviceInterface" value="org.michaelliu.spring.rmi.provider.MessageService"/>
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1199"/>
	</bean>
	<bean id="accountServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported -->
		<property name="serviceName" value="rmi/AccountService"/>
		<property name="service" ref="accountService"/>
		<property name="serviceInterface" value="org.michaelliu.spring.rmi.provider.AccountService"/>
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1199"/>
	</bean>

</beans>