<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="org.michaelliu.rpc.entity.Student" alias="Student" />
        <typeAlias type="org.michaelliu.rpc.vo.StudentVo" alias="StudentVo" />
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="String" jdbcType="TIMESTAMP" handler="org.michaelliu.rpc.handler.DateTypeHandler" />
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/StudentMapper.xml"/>
    </mappers>
</configuration>