<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://cxf.apache.org/jaxws
					       http://cxf.apache.org/schemas/jaxws.xsd
					       http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="classpath:conf/component-beans.xml" />

	<!-- configure rmi service -->
	<bean id="rmiMessageServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported -->
		<property name="serviceName" value="RmiMessageService"/>
		<property name="service" ref="messageService"/>
		<property name="serviceInterface" value="org.michaelliu.rpc.service.MessageService"/>
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1199"/>
	</bean>
	<bean id="rmiAccountServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported -->
		<property name="serviceName" value="RmiAccountService"/>
		<property name="service" ref="accountService"/>
		<property name="serviceInterface" value="org.michaelliu.rpc.service.AccountService"/>
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1199"/>
	</bean>
	<bean id="rmiStudentServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported -->
		<property name="serviceName" value="RmiStudentService"/>
		<property name="service" ref="studentService"/>
		<property name="serviceInterface" value="org.michaelliu.rpc.service.StudentService"/>
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1199"/>
	</bean>

	<!-- configure web service using cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<jaxws:endpoint id="accountWebService" implementor="org.michaelliu.rpc.service.impl.AccountWebServiceImpl"
					address="/AccountWebService"/>


</beans>