<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/context
					       http://www.springframework.org/schema/context/spring-context.xsd
					       http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:annotation-config/>

    <!--injection via setter and getter-->
    <bean id="account1" class="org.michaelliu.spring.beans.Account" destroy-method="complete" init-method="init">
        <property name="id" value="123"/>
        <property name="name" value="Michael"/>
        <property name="userInfo" ref="userInfo"/>
    </bean>

    <!--injection via constructor-->
    <bean id="account2" class="org.michaelliu.spring.beans.Account">
        <constructor-arg name="id" value="123"/>
        <constructor-arg name="name" value="Michael"/>
    </bean>

    <!--injection via factory-->
    <bean id="accountFactory" class="org.michaelliu.spring.beans.AccountFactory"/>
    <bean id="account3" factory-bean="accountFactory" factory-method="createAccount">
        <constructor-arg name="id" value="123"/>
        <constructor-arg name="name" value="Michael"/>
        <constructor-arg name="userInfo" ref="userInfo"/>
    </bean>

    <bean id="userInfo" class="org.michaelliu.spring.beans.UserInfo">
        <property name="id" value="1999"/>
        <property name="email" value="liu@163.com"/>
        <property name="addressBook">
            <list value-type="java.lang.String">
                <value>Beijing</value>
                <value>Shanghai</value>
                <value>New York</value>
            </list>
        </property>
    </bean>

    <bean id="usage" class="org.michaelliu.spring.beans.Usage">
        <property name="id" value="123"/>
    </bean>

</beans>