<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.michaelliu.spring.orm.mybatis.mapper.ProductMapper">

    <resultMap id="productBaseResultMap" type="ProductVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="prod_name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="balance" property="balance" jdbcType="INTEGER"/>
        <result column="status" property="statusInfo" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="product_Base_Column_List">
        id, prod_name, price, balance, status, create_time, update_time
    </sql>

    <sql id="product_Base_Column_List2">
        tb_product.id, prod_name, price, balance, status, tb_product.create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="productBaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="product_Base_Column_List"/>
        from tb_product
        where id = #{id, jdbcType=BIGINT}
    </select>

    <select id="selectByProperties" resultMap="productBaseResultMap" parameterType="Product">
        select
        <include refid="product_Base_Column_List"/>
        from tb_product
        <where>
            <if test="name != null and name != ''">
                prod_name = #{name, jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                AND price = #{price, jdbcType=INTEGER}
            </if>
            <if test="balance != null">
                AND balance = #{balance, jdbcType=INTEGER}
            </if>
            <if test="status != null">
                AND status = #{status, jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="selectByIdList" resultMap="productBaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="product_Base_Column_List"/>
        from tb_product
        where id = #{id, jdbcType=BIGINT}
        <if test="idList != null and idList.size() > 0">
            WHERE id IN
            <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

    <select id="selectAllWithOrder" resultMap="productBaseResultMap">
        select
        <include refid="product_Base_Column_List"/>
        from tb_product p
        where EXISTS (SELECT 1 FROM tb_product, tb_order_product
        WHERE p.id = tb_product.id AND tb_product.id = tb_order_product.product_id)
    </select>

    <insert id="insertSelective" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into tb_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                prod_name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price, jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                #{balance, jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status, jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Product">
        update tb_product
        <set>
            <if test="name != null">
                prod_name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price, jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                balance = #{balance, jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <update id="updateByDecreaseBalance" parameterType="ProductFieldUpdateParam">
        update tb_product
        set balance = balance - #{balanceChange, jdbcType=INTEGER}
        where id = #{id, jdbcType=BIGINT} and balance > 0
    </update>

</mapper>